<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <link href="js/jquery-ui.min.css" rel="stylesheet">
</head>
<body>

<div class="background-nophoto">
    <div class="row">

        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">Symptom Assesment Interface</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/doctor" class="active"> Hello Dr. <%= user.first_name %> <%= user.last_name %></a></li>

                        <li><a href="/logout"> Log out</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
            </div>

            <div class="col-sm-5">
                <div class="well">
                    <h3>Patients</h3>
                    <hr/>

                    <%if (patients.length > 0) { %>
                        <% for(var i = 0; i < patients.length; i++) { %>
                            <div class="alert alert-info">
                                <h4 data-toggle="collapse" data-target=".conversation_<%= patients[i].patient_id %>"><a href="#"><%= patients[i].first_name %> <%= patients[i].last_name %></a></h4>
                                <br />
                                <hr />
                                    <a href="/doctor/patientDiagnoses/<%= patients[i].patient_id %>">
                                        Patient's past diagnoses
                                    </a>
                            </div>
                        <% } %>
                    <% } %>

                </div>
            </div>



            <div class="col-sm-5">
            <div class="well">

            <h3>Conversations</h3>
            <p>Waiting feedback</p>
                <hr/>
                    
                        <%if (conversations.length > 0) { %>
                            <% for(var i = 0; i < conversations.length; i++) { %>
                                <div class="row collapse conversation_<%= conversations[i].patient_id %>">
                                
                                <div class="col-xs-12">
                                    <h5><b><%= conversations[i].patient_full_name %></b></h5>
                                        <p>
                                            <b>Comment: <%= conversations[i].comment %></b>
                                        </p>
                                        <p>
                                            Time of comment: <%= conversations[i].comment_time %>
                                        </p>
                                        
                                        <%if (conversations[i].feedback) { %>
                                            <p>
                                                <b>Feedback: <%= conversations[i].feedback %></b>
                                            </p>
                                            <p>
                                                Time of feedback: <%= conversations[i].feedback_time %>
                                            </p>
                                        <% } %>
                                        <%if (!conversations[i].feedback) { %>
                                            <form action="/sendFeedback" method="POST">
                                            <div class="form-group">
                                                    <input type="hidden" class="form-control" id="conversation_id" name="conversation_id" value="<%= conversations[i].conversation_id %>">
                                                </div>
                                            <div class="form-group">
                                                    <label for="feedback">Give feedback</label>
                                                    <input type="text" class="form-control" id="feedback" name="feedback">
                                                </div>
                                                <button type="submit" class="btn btn-info form-control" id="submit">Submit</button>
                                            </form>
                                        <% } %>
                                        <hr />
                                    </div>
                            
                                
                            </div>
                            <% } %>
                        <% } %>
                        
                    


            </div>




            </div>
            </div>



            <div class="col-sm-1">
            </div>

        </div>




    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>